main {
  padding-top: 30px;
}
/*HEADER*/
header .navbar {
  border-radius: 0;
}

/* ANIMATIONS
====================== */
.spinner {
  animation:spin 1s infinite;
	-webkit-animation:spin 1s infinite;
	-moz-animation:spin 1s infinite;

}

@keyframes spin {
	from 	{ transform:rotate(0deg); }
	to 	{ transform:rotate(360deg); }
}

@-webkit-keyframes spin {
	from 	{ -webkit-transform:rotate(0deg); }
	to 	{ -webkit-transform:rotate(360deg); }
}

@-moz-keyframes spin {
	from 	{ -moz-transform:rotate(0deg); }
	to 	{ -moz-transform:rotate(360deg); }
}

/*NGANIMATE
==========================================
SHOW AND HIDE*/
.show-hide-message.ng-hide-remove {
  animation:zoomIn 0.3s both ease;
  -webkit-animation:zoomIn 0.3s both ease;
  -moz-animation:zoomIn 0.3s both ease;
}

/*#content-views {position: relative;}
.ng-enter, .ng-leave {width:100%; position: absolute;}
.ng-enter {
  -webkit-animation: slideInDown 1.5s both ease-in;
  -moz-animation: slideInDown 1.5s both ease-in;
  animation: slideInDown 1.5s both ease-in;
}
.ng-leave {
  -webkit-animation: zoomOutDown 0.5s both ease-in;
  -moz-animation: zoomOutDown 0.5s both ease-in;
  animation: zoomOutDown 0.5s both ease-in;
}*/

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }
