<div class="page-header">
    <h1 ng-if="questionpack.type=='create'">Create Question Pack</h1>
    <h1 ng-if="questionpack.type=='edit'">Edit Question Pack</h1>
</div>
<form id="questionpackform" class="form-horizontal" ng-submit="questionpack.saveQuestionPack()">
    <div class="form-group">
        <label for="" class="col-sm-2 control-label">available time</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" ng-model="questionpack.questionPackData.available_time">
        </div>
    </div>
    <div class="form-group">
        <label for="" class="col-sm-2 control-label">level</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" ng-model="questionpack.questionPackData.level">
        </div>
    </div>
    <div class="form-group">
        <label for="" class="col-sm-2 control-label">question_ids</label>
        <!-- ============================= SEARCHBOX =============================== -->
        <div class="jumbotron text-center" ng-controller="questionController as question">
            <h2>SEARCH BOX</h2>
            <p>There are: {{question.questions.length}} questions to add</p>
            <span class="glyphicon glyphicon-search"></span>
            <input type="search" ng-model="x" placeholder="filter questions...">

            <!-- ====== Searchbox result table ===== -->

            <table ng-if="x" class="table table-bordered table-striped" ng-show="question.questions">
                <thead>
                    <tr>
                        <th>N.o</th>
                        <th>type</th>
                        <th>sub_type</th>
                        <th>stimulus</th>
                        <th>stem</th>
                        <!-- <th>answer_choices</th>
                        <th>right_answer</th> -->
                        <th class="col-sm-2"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in question.questions|filter:x as results track by $index" ng-init="numLimit=16000">
                        <td>{{item.index}}</td>
                        <td>{{item.type}}</td>
                        <td>{{item.sub_type}}</td>
                        <td>{{item.stimulus | limitTo:numLimit}}
                        </td>
                        <td>{{item.stem | limitTo:numLimit}}
                        </td>
                        <td class="col-sm-2">
                            <a href="#" ng-click="questionpack.addQuestionId(item._id)" class="btn btn-primary">Add</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- ========================== /END-SEARCHBOX ============================ -->
        <div class="col-sm-12">
            <!-- <button type="button" ng-click="question.addQuestion()">
              <span class="glyphicon glyphicon-plus text-success">Add</span>
            </button> -->

            <table class="table table-bordered table-striped">
              <thead>
                  <tr>
                      <th>items</th>
                      <th>id</th>
                  </tr>
              </thead>
              <tbody>
                <tr ng-repeat="id in questionpack.questionPackData.question_ids track by $index" ng-include="questionpack.getTemplate(id)">
                    <td>
                        {{id}}
                    </td>
                </tr>
              </tbody>
            </table>

            <table  ng-controller="questionController as question"  class="table table-bordered table-striped">
              <thead>
                  <tr>
                      <th>Index</th>
                      <th>_id</th>
                      <th>stimulus</th>
                      <th>Action</th>
                  </tr>
              </thead>
              <tbody>
                <tr ng-repeat="item in question.questions | filter: questionpack.filterArray" ng-init="numLimit=16000">
                    <td>{{$index+1}}</td>
                    <td>
                        {{item._id}}
                    </td>
                    <td>{{item.stimulus}}</td>
                    <td>
                      <button type="button" ng-click="questionpack.deleteQuestionId(item._id)"><span class="glyphicon glyphicon-trash text-danger"></span></button>
                    </td>
                </tr>
              </tbody>
            </table>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-6">
            <button class="btn btn-success btn-lg btn-block" type="submit" ng-if="questionpack.type=='create'" style = "margin: 20px 96px;">Create Question Pack</button>
            <button class="btn btn-success btn-lg btn-block" type="submit" ng-if="questionpack.type=='edit'" style = "margin: 20px 96px;">Update Question Pack</button>
        </div>
    </div>
</form>
<div class="row show-hide-message" ng-show="questionpack.message">
  <div class="col-sm-6 col-sm-offset-2">
    <div class="alert alert-info">{{questionpack.message}}</div>
  </div>
</div>

<script id="display" type="text/ng-template">
  <td>{{$index + 1}}</td>
  <td>{{id}}</td>
  <td>
    <button type="button" ng-click="questionpack.deleteQuestionId(id)"><span class="glyphicon glyphicon-trash text-danger"></span></button>
  </td>
</script>
<!-- <script id="edit" type="text/ng-template">
    <td>{{$index+1}}</td>
  <td><input type="text" ng-model="id" /></td>
  <td>
    <button type="button" ng-click="questionpack.saveColor($index)"><span class="glyphicon glyphicon-ok text-success"></span></button>
    <button type="button" ng-click="questionpack.reset()"><span class="glyphicon glyphicon-remove text-danger"></span></button>
  </td>
</script> -->
