<div class="page-header">
    <h1 ng-if="question.type=='create'">Create Question</h1>
    <h1 ng-if="question.type=='edit'">Edit Question</h1>
</div>
<form id="questionform" class="form-horizontal" ng-submit="question.saveQuestion()">
    <div class="form-group">
        <label class="col-sm-2 control-label">type</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" ng-model="question.questionData.type">
        </div>
        <div class="combobox" >
            <select style="height:33px" ng-model="question.questionData.type" ng-options="x for x in question.questionData.types"></select>
        </div>
    </div>
    <div class="form-group">
        <label for="" class="col-sm-2 control-label">sub_type</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" ng-model="question.questionData.sub_type">
        </div>
    </div>
    <div class="form-group">
        <label for="" class="col-sm-2 control-label">stimulus</label>
        <div class="col-sm-6">
          <textarea class="form-control" form="questionform" ng-model="question.questionData.stimulus" rows="10"></textarea>
        </div>
    </div>
    <div class="form-group">
        <label for="" class="col-sm-2 control-label">stem</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" ng-model="question.questionData.stem">
        </div>
    </div>
    <div class="form-group">
        <label for="" class="col-sm-2 control-label">answer_choices</label>
        <div class="col-sm-12">
            <!-- <ol>
              <li ng-repeat="choice in question.questionData.answer_choices">
                <ul>
                  <li>
                    <label for="">Choice :</label>
                    <input type="text" ng-model="choice.choice">
                  </li>
                  <li>
                    <label for="">Explanation :</label>
                    <input type="text" ng-model="choice.explanation">
                  </li>
                  <li>
                    <label for="">Note :</label>
                    <input type="text" ng-model="choice.note">
                  </li>
                </ul>
              </li>
            </ul> -->
            <button type="button" ng-click="question.addChoice()">
              <span class="glyphicon glyphicon-plus text-success">Add</span>
            </button>

            <table class="table table-bordered table-striped">
              <thead>
                  <tr>
                      <th>Items</th>
                      <th>Choice</th>
                      <th>Explanation</th>
                      <th>Note</th>
                      <th>Edit/Delete</th>
                  </tr>
              </thead>
              <tbody>
                <tr ng-repeat="choice in question.questionData.answer_choices" ng-include="question.getTemplate(choice)">
                </tr>
              </tbody>
            </table>
        </div>
    </div>
    <div class="form-group">
        <label for="" class="col-sm-2 control-label">right_answer</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" ng-model="question.questionData.right_answer">
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-6">
            <button class="btn btn-success btn-lg btn-block" type="submit" ng-if="question.type=='create'">Create Question</button>
            <button class="btn btn-success btn-lg btn-block" type="submit" ng-if="question.type=='edit'">Update Question</button>
        </div>
    </div>
</form>
<div class="row show-hide-message" ng-show="question.message">
  <div class="col-sm-6 col-sm-offset-2">
    <div class="alert alert-info">{{question.message}}</div>
  </div>
</div>

<script id="display" type="text/ng-template" ng-if="question.type=='edit'">
  <td>{{$index + 1}}</td>
  <td>{{choice.choice}}</td>
  <td>{{choice.explanation}}</td>
  <td>{{choice.note}}</td>
  <td>
    <button ng-click="question.editChoice(choice)"><span class="glyphicon glyphicon-edit text-warning"></span></button>
    <button ng-click="question.deleteChoice(choice)"><span class="glyphicon glyphicon-trash text-danger"></span></button>
  </td>
</script>
<script id="edit" type="text/ng-template">
  <td>{{$index + 1}}</td>
  <td><input type="text" ng-model="question.selectedChoice.choice" /></td>
  <td><input type="text" ng-model="question.selectedChoice.explanation" /></td>
  <td><input type="text" ng-model="question.selectedChoice.note" /></td>
  <td>
    <button ng-click="question.saveColor($index)"><span class="glyphicon glyphicon-ok text-success"></span></button>
    <button ng-click="question.reset()"><span class="glyphicon glyphicon-remove text-danger"></span></button>
  </td>
</script>
